.sidebar{
    display: flex;
    flex-direction: column;
    background-color: orange;
    height: 100vh;
    width: 230px;
    padding: 30px;
    gap: 13px;
}
.sidebar-first{
    text-align: center;
    align-items: center;
    height: 38px;
    width: 132x;
    display: flex;
    color: white;
  margin-left: 10px;
    gap: 10px;
    border-radius: 15px;
    &:hover{
        background-color: rgb(46, 45, 45);
    }
}